<ol class="flex justify-between gap-24">
  <li>
    <div class="heading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
          points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"
        ></line></svg
      >
      <h3>Upload</h3>
    </div>
    <p>
      Upload your audio or try using a sample. Everything stays on your
      computer.
    </p>
  </li>
  <li>
    <div class="heading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path
          d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
        ></path><circle cx="12" cy="12" r="3"></circle></svg
      >
      <h3>Configure</h3>
    </div>
    <p>
      Change colors, style, and tweak settings until the design looks just
      right.
    </p>
  </li>
  <li>
    <div class="heading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path
          d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
        ></path></svg
      >
      <h3>Copy and Paste</h3>
    </div>
    <p>Copy the resulting SVG code and paste it directly into your site.</p>
  </li>
</ol>

<style>
  .heading {
    @apply flex flex-col gap-2 text-cyan-900;
  }
  h3 {
    @apply text-2xl font-semibold text-cyan-50;
  }
  li {
    @apply relative flex flex-1 flex-col gap-4 text-lg leading-normal text-cyan-50;
  }

  li span {
    @apply mb-4 flex items-center gap-2;
  }

  li span:before {
    content: attr(data-step);
    @apply flex aspect-square h-6 w-6 items-center justify-center;
    @apply rounded-full border border-violet11 bg-violet12 text-xs text-violet3 shadow-sm;
  }

  li span:after {
    content: "";
    @apply h-px w-full rounded bg-violet11;
  }
</style>
