/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }

  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: Manrope;
      src: url("/fonts/manrope/Manrope-Variable.ttf")
          format("truetype supports variations"),
        url("/fonts/manrope/Manrope-Variable.ttf") format("truetype-variations");
      font-weight: 400 800;
      font-display: swap;
      font-style: normal;
    }

    body {
      font-family: Manrope, serif;
    }
  }
}
