---
import Layout from "../layouts/Layout.astro";
import { Builder } from "../components/Builder";

let ANALYZE_URL = import.meta.env.ANALYZE_URL;
---

<Layout title="Builder | Waveformr">
  <div class="flex w-full flex-col items-center p-8">
    <h1>Waveformr Builder</h1>
    <Builder client:load analyzeUrl={ANALYZE_URL} />
  </div>
</Layout>
