---
import Layout from "../layouts/Layout.astro";
import { BuilderApp } from "../components/Builder";
---

<Layout title="Builder | Waveformr">
  <div class="flex w-full flex-col items-center p-8">
    <h1>Waveformr Builder</h1>
    <BuilderApp client:load />
  </div>
</Layout>
