---
import Layout from "../layouts/Layout.astro";
import ExampleWaveform from "../components/ExampleWaveform.astro";
---

<Layout title="Waveformr">
  <main class="flex h-full flex-col bg-gray-50">
    <section class="flex h-full flex-1 flex-col gap-4 p-8 pt-16">
      <ExampleWaveform />
      <div class="space-y-8">
        <div class="space-y-2">
          <h1
            class="bg-gradient-to-br from-gray-900 to-gray-700 bg-clip-text text-8xl font-normal lowercase text-gray-700 text-transparent"
          >
            Waveformr
          </h1>
          <p class="text-lg font-medium text-gray-600">
            Build scalable SVG waveforms that you can copy and paste to your
            site.
          </p>
        </div>
        <a
          class="inline-flex h-10 w-fit items-center gap-3 rounded-full bg-sky-700 pl-6 pr-4 text-sm font-semibold text-sky-50"
          href="/builder"
          >Try the Builder
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><circle cx="12" cy="12" r="10"></circle><polyline
              points="12 16 16 12 12 8"></polyline><line
              x1="8"
              y1="12"
              x2="16"
              y2="12"></line></svg
          >
        </a>
      </div>
    </section>
    <section class="p-8">
      <h2 class="text-lg font-semibold">How it Works</h2>
    </section>
    <section class="p-8">
      <h2 class="text-lg font-semibold">Interested in other stuff?</h2>
    </section>
  </main>
</Layout>
