---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Waveformr">
  <main class="flex h-full flex-col">
    <section class="flex h-full flex-1 flex-col justify-center p-8">
      <div class="flex flex-col gap-4">
        <h1 class="text-6xl font-bold tracking-wide text-gray12">Waveformr</h1>
        <p class="text-xl">
          Build scalable SVG waveforms that you can copy and paste to your site.
        </p>
        <svg viewBox="0 0 1200 100" width="100%">
          <defs>
            <linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%">
              <stop offset="0%" style="stop-color:#001219ff;stop-opacity:1.00"
              ></stop>
              <stop offset="25%" style="stop-color:#005f73ff;stop-opacity:0.70"
              ></stop>
              <stop offset="50%" style="stop-color:#ee9b00ff;stop-opacity:1.00"
              ></stop>
              <stop offset="75%" style="stop-color:#ca6702ff;stop-opacity:0.70"
              ></stop>
              <stop offset="100%" style="stop-color:#9b2226ff;stop-opacity:1.00"
              ></stop>
            </linearGradient>
          </defs>
          <path
            d="M 0 50 V 50.06 M 0 50 V 49.94 M 6 50 V 50.53 M 6 50 V 49.47 M 12 50 V 50.28 M 12 50 V 49.72 M 18 50 V 50.24 M 18 50 V 49.76 M 24 50 V 50.29 M 24 50 V 49.71 M 30 50 V 50.4 M 30 50 V 49.6 M 36 50 V 50.85 M 36 50 V 49.15 M 42 50 V 51.13 M 42 50 V 48.87 M 48 50 V 52.59 M 48 50 V 47.41 M 54 50 V 53.48 M 54 50 V 46.52 M 60 50 V 55.86 M 60 50 V 44.14 M 66 50 V 59.09 M 66 50 V 40.91 M 72 50 V 59.62 M 72 50 V 40.38 M 78 50 V 64.17 M 78 50 V 35.83 M 84 50 V 88.05 M 84 50 V 11.95 M 90 50 V 90.68 M 90 50 V 9.32 M 96 50 V 91.2 M 96 50 V 8.8 M 102 50 V 93.64 M 102 50 V 6.36 M 108 50 V 89.62 M 108 50 V 10.38 M 114 50 V 91.58 M 114 50 V 8.42 M 120 50 V 88.54 M 120 50 V 11.46 M 126 50 V 86.31 M 126 50 V 13.69 M 132 50 V 86.38 M 132 50 V 13.62 M 138 50 V 84.4 M 138 50 V 15.6 M 144 50 V 79.55 M 144 50 V 20.45 M 150 50 V 78.81 M 150 50 V 21.19 M 156 50 V 83.1 M 156 50 V 16.9 M 162 50 V 77.33 M 162 50 V 22.67 M 168 50 V 86.81 M 168 50 V 13.19 M 174 50 V 73.38 M 174 50 V 26.62 M 180 50 V 76.45 M 180 50 V 23.55 M 186 50 V 79.82 M 186 50 V 20.18 M 192 50 V 83.4 M 192 50 V 16.6 M 198 50 V 75.72 M 198 50 V 24.28 M 204 50 V 80.34 M 204 50 V 19.66 M 210 50 V 81.24 M 210 50 V 18.76 M 216 50 V 84.67 M 216 50 V 15.33 M 222 50 V 92.12 M 222 50 V 7.88 M 228 50 V 80.17 M 228 50 V 19.83 M 234 50 V 84.06 M 234 50 V 15.94 M 240 50 V 73.87 M 240 50 V 26.13 M 246 50 V 90.76 M 246 50 V 9.24 M 252 50 V 87.61 M 252 50 V 12.39 M 258 50 V 91.14 M 258 50 V 8.86 M 264 50 V 83.95 M 264 50 V 16.05 M 270 50 V 89.61 M 270 50 V 10.39 M 276 50 V 87.18 M 276 50 V 12.82 M 282 50 V 88.45 M 282 50 V 11.55 M 288 50 V 82.07 M 288 50 V 17.93 M 294 50 V 83.39 M 294 50 V 16.61 M 300 50 V 76.63 M 300 50 V 23.37 M 306 50 V 74.68 M 306 50 V 25.32 M 312 50 V 85.7 M 312 50 V 14.3 M 318 50 V 82.52 M 318 50 V 17.48 M 324 50 V 91.56 M 324 50 V 8.44 M 330 50 V 85.34 M 330 50 V 14.66 M 336 50 V 82.75 M 336 50 V 17.25 M 342 50 V 82.62 M 342 50 V 17.38 M 348 50 V 83.1 M 348 50 V 16.9 M 354 50 V 78.41 M 354 50 V 21.59 M 360 50 V 75.43 M 360 50 V 24.57 M 366 50 V 78.48 M 366 50 V 21.52 M 372 50 V 82.91 M 372 50 V 17.09 M 378 50 V 74.94 M 378 50 V 25.06 M 384 50 V 72.17 M 384 50 V 27.83 M 390 50 V 73.88 M 390 50 V 26.12 M 396 50 V 74.07 M 396 50 V 25.93 M 402 50 V 78.9 M 402 50 V 21.1 M 408 50 V 87.75 M 408 50 V 12.25 M 414 50 V 85.94 M 414 50 V 14.06 M 420 50 V 86.62 M 420 50 V 13.38 M 426 50 V 85.02 M 426 50 V 14.98 M 432 50 V 82.52 M 432 50 V 17.48 M 438 50 V 77.72 M 438 50 V 22.28 M 444 50 V 80.53 M 444 50 V 19.47 M 450 50 V 80.14 M 450 50 V 19.86 M 456 50 V 75.86 M 456 50 V 24.14 M 462 50 V 83.32 M 462 50 V 16.68 M 468 50 V 83.32 M 468 50 V 16.68 M 474 50 V 94.19 M 474 50 V 5.81 M 480 50 V 92.6 M 480 50 V 7.4 M 486 50 V 85.47 M 486 50 V 14.53 M 492 50 V 81.66 M 492 50 V 18.34 M 498 50 V 79.99 M 498 50 V 20.01 M 504 50 V 80.06 M 504 50 V 19.94 M 510 50 V 75.89 M 510 50 V 24.11 M 516 50 V 82.93 M 516 50 V 17.07 M 522 50 V 80.71 M 522 50 V 19.29 M 528 50 V 80.48 M 528 50 V 19.52 M 534 50 V 75.51 M 534 50 V 24.49 M 540 50 V 84.7 M 540 50 V 15.3 M 546 50 V 81.99 M 546 50 V 18.01 M 552 50 V 79.05 M 552 50 V 20.95 M 558 50 V 81.64 M 558 50 V 18.36 M 564 50 V 84.75 M 564 50 V 15.25 M 570 50 V 85.69 M 570 50 V 14.31 M 576 50 V 79.78 M 576 50 V 20.22 M 582 50 V 83.79 M 582 50 V 16.21 M 588 50 V 89.56 M 588 50 V 10.44 M 594 50 V 83.93 M 594 50 V 16.07 M 600 50 V 78.55 M 600 50 V 21.45 M 606 50 V 87.71 M 606 50 V 12.29 M 612 50 V 81.68 M 612 50 V 18.32 M 618 50 V 79.31 M 618 50 V 20.69 M 624 50 V 75.5 M 624 50 V 24.5 M 630 50 V 71.04 M 630 50 V 28.96 M 636 50 V 96.48 M 636 50 V 3.52 M 642 50 V 82.99 M 642 50 V 17.01 M 648 50 V 87.02 M 648 50 V 12.98 M 654 50 V 86.28 M 654 50 V 13.72 M 660 50 V 84.91 M 660 50 V 15.09 M 666 50 V 78.71 M 666 50 V 21.29 M 672 50 V 77.74 M 672 50 V 22.26 M 678 50 V 70.25 M 678 50 V 29.75 M 684 50 V 81.38 M 684 50 V 18.62 M 690 50 V 75.3 M 690 50 V 24.7 M 696 50 V 76.28 M 696 50 V 23.72 M 702 50 V 77.98 M 702 50 V 22.02 M 708 50 V 82.48 M 708 50 V 17.52 M 714 50 V 83.48 M 714 50 V 16.52 M 720 50 V 83.59 M 720 50 V 16.41 M 726 50 V 100 M 726 50 V 0 M 732 50 V 91.76 M 732 50 V 8.24 M 738 50 V 81.83 M 738 50 V 18.17 M 744 50 V 88.81 M 744 50 V 11.19 M 750 50 V 94.76 M 750 50 V 5.24 M 756 50 V 87.52 M 756 50 V 12.48 M 762 50 V 73.5 M 762 50 V 26.5 M 768 50 V 67.21 M 768 50 V 32.79 M 774 50 V 69.48 M 774 50 V 30.52 M 780 50 V 68.73 M 780 50 V 31.27 M 786 50 V 82.31 M 786 50 V 17.69 M 792 50 V 82.38 M 792 50 V 17.62 M 798 50 V 76.81 M 798 50 V 23.19 M 804 50 V 83.8 M 804 50 V 16.2 M 810 50 V 88.73 M 810 50 V 11.27 M 816 50 V 88.6 M 816 50 V 11.4 M 822 50 V 86.26 M 822 50 V 13.74 M 828 50 V 78.82 M 828 50 V 21.18 M 834 50 V 76.63 M 834 50 V 23.37 M 840 50 V 83.71 M 840 50 V 16.29 M 846 50 V 77.65 M 846 50 V 22.35 M 852 50 V 77.31 M 852 50 V 22.69 M 858 50 V 71.05 M 858 50 V 28.95 M 864 50 V 69.99 M 864 50 V 30.01 M 870 50 V 68.85 M 870 50 V 31.15 M 876 50 V 71.63 M 876 50 V 28.37 M 882 50 V 71.06 M 882 50 V 28.94 M 888 50 V 80.09 M 888 50 V 19.91 M 894 50 V 86.39 M 894 50 V 13.61 M 900 50 V 94.81 M 900 50 V 5.19 M 906 50 V 80.53 M 906 50 V 19.47 M 912 50 V 90.83 M 912 50 V 9.17 M 918 50 V 88.54 M 918 50 V 11.46 M 924 50 V 90.38 M 924 50 V 9.62 M 930 50 V 86.52 M 930 50 V 13.48 M 936 50 V 77.68 M 936 50 V 22.32 M 942 50 V 82.9 M 942 50 V 17.1 M 948 50 V 80.15 M 948 50 V 19.85 M 954 50 V 78.09 M 954 50 V 21.91 M 960 50 V 81.49 M 960 50 V 18.51 M 966 50 V 75.7 M 966 50 V 24.3 M 972 50 V 83.66 M 972 50 V 16.34 M 978 50 V 93.96 M 978 50 V 6.04 M 984 50 V 86.57 M 984 50 V 13.43 M 990 50 V 86.85 M 990 50 V 13.15 M 996 50 V 85.47 M 996 50 V 14.53 M 1002 50 V 78.47 M 1002 50 V 21.53 M 1008 50 V 78.82 M 1008 50 V 21.18 M 1014 50 V 84.68 M 1014 50 V 15.32 M 1020 50 V 83.14 M 1020 50 V 16.86 M 1026 50 V 83.79 M 1026 50 V 16.21 M 1032 50 V 69.63 M 1032 50 V 30.37 M 1038 50 V 71.72 M 1038 50 V 28.28 M 1044 50 V 76.03 M 1044 50 V 23.97 M 1050 50 V 71.53 M 1050 50 V 28.47 M 1056 50 V 79.25 M 1056 50 V 20.75 M 1062 50 V 76.51 M 1062 50 V 23.49 M 1068 50 V 72.39 M 1068 50 V 27.61 M 1074 50 V 80.35 M 1074 50 V 19.65 M 1080 50 V 81.18 M 1080 50 V 18.82 M 1086 50 V 85.42 M 1086 50 V 14.58 M 1092 50 V 81.74 M 1092 50 V 18.26 M 1098 50 V 79.56 M 1098 50 V 20.44 M 1104 50 V 80.54 M 1104 50 V 19.46 M 1110 50 V 81.36 M 1110 50 V 18.64 M 1116 50 V 73.26 M 1116 50 V 26.74 M 1122 50 V 71.36 M 1122 50 V 28.64 M 1128 50 V 75.19 M 1128 50 V 24.81 M 1134 50 V 71.55 M 1134 50 V 28.45 M 1140 50 V 65.96 M 1140 50 V 34.04 M 1146 50 V 62.14 M 1146 50 V 37.86 M 1152 50 V 60.8 M 1152 50 V 39.2 M 1158 50 V 60.39 M 1158 50 V 39.61 M 1164 50 V 57.31 M 1164 50 V 42.69 M 1170 50 V 57.42 M 1170 50 V 42.58 M 1176 50 V 56.47 M 1176 50 V 43.53 M 1182 50 V 55.77 M 1182 50 V 44.23 M 1188 50 V 55.07 M 1188 50 V 44.93 M 1194 50 V 55.5 M 1194 50 V 44.5 "
            fill="url(#lgrad)"
            stroke="url(#lgrad)"
            stroke-width="2"
            stroke-linecap="round"></path></svg
        >
        <a
          class="inline-flex h-10 items-center self-end justify-self-end rounded-full bg-sky-700 px-6 font-semibold text-sky-50"
          href="/builder">Try the Builder</a
        >
      </div>
    </section>
    <section class="p-8">
      <h2 class="text-lg font-semibold">How it Works</h2>
    </section>
    <section class="p-8">
      <h2 class="text-lg font-semibold">Interested in other stuff?</h2>
    </section>
  </main>
</Layout>
