---
import Layout from "../layouts/Layout.astro";
import ExampleWaveform from "../components/ExampleWaveform.astro";
---

<Layout title="Waveformr">
  <main
    class="mx-auto flex h-full flex-col items-center p-8 md:overflow-x-hidden"
  >
    <div
      class="flex max-w-2xl flex-1 flex-col gap-4 py-24 text-gray-700 dark:text-gray-50"
    >
      <svg
        aria-hidden="true"
        viewBox="0 0 87 20"
        class="xtext-transparent bg-gradient-to-br from-gray-700 to-gray-600 bg-clip-text text-5xl font-black lowercase dark:from-gray-200 dark:to-gray-400 md:text-4xl"
      >
        <use href="#lockup"></use>
      </svg>
      <div class="flex flex-col gap-4">
        <h1 class="sr-only">Waveformr</h1>
        <p
          class="text-xl font-medium leading-normal text-gray-500 dark:text-gray-300 md:text-2xl"
        >
          Analyze, design, and build responsive audio waveform visualizations
          that you can copy and paste to your site.
        </p>
        <div class="md:-mx-48">
          <ExampleWaveform />
        </div>
        <div class="flex flex-col gap-2">
          <h2
            class="text-2xl font-semibold text-gray-700 dark:text-gray-400 md:text-xl"
          >
            Why?
          </h2>
          <p
            class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 md:text-lg md:leading-normal"
          >
            Most audio waveform visualizations are require JavaScript and are
            not responsive. Waveformr helps you analyze and design a
            good-looking waveform visualization that you can copy and paste
            right into your site without JavaScript.
          </p>
        </div>
      </div>
      <a
        class="inline-flex h-10 w-fit items-center gap-3 rounded-full border border-cyan-900 bg-cyan-900 pl-6 pr-4 text-sm font-semibold text-cyan-50 ring-cyan-800 ring-offset-2 focus:outline-none focus-visible:ring-2"
        href="/builder"
        >Try the Builder
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><circle cx="12" cy="12" r="10"></circle><polyline
            points="12 16 16 12 12 8"></polyline><line
            x1="8"
            y1="12"
            x2="16"
            y2="12"></line></svg
        >
      </a>
    </div>
    <footer class="flex w-full max-w-2xl items-start">
      <a href="https://github.com/npbee/waveformr">
        <svg class="w-5 text-[#24292f] dark:text-white" viewBox="0 0 98 96">
          <use href="#github"></use>
        </svg>
        <span class="sr-only">Github</span>
      </a>
    </footer>
  </main>
</Layout>
