---
import "../styles/base.css";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  ogBasicTitle: string;
}

const { title, ogBasicTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <SEO
      charset="UTF-8"
      title={title}
      description="Analyze, design, and build responsive audio waveform visualizations that you can copy and paste to your site."
      twitter={{
        site: "@_nickball",
        creator: "@_nickball",
        card: "summary",
      }}
      openGraph={{
        basic: {
          title: ogBasicTitle,
          type: "website",
          image: "https://waveformr.com/og.png",
        },
        image: {
          width: 1200,
          height: 630,
          alt: "Waveformr",
        },
      }}
    />
  </head>
  <body class="text-gray-900 dark:text-gray-50">
    <svg aria-hidden="true" style="display: none">
      <symbol
        id="glyph"
        viewBox="0 0 25 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M13 6V14" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M15 4V16" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M17 2V18" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M19 5V15" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M21 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M23 9V11" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M11 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M9 7V13" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M7 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M5 9V11" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M3 10H2" stroke="currentColor" stroke-linecap="round"></path>
      </symbol>

      <symbol
        id="lockup"
        viewBox="0 0 87 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.436 12.94C27.276 12.94 27.132 12.892 27.004 12.796C26.876 12.7 26.788 12.58 26.74 12.436L25.036 7.444C25.012 7.372 25 7.304 25 7.24C25 7.088 25.052 6.96 25.156 6.856C25.26 6.752 25.388 6.7 25.54 6.7C25.652 6.7 25.752 6.732 25.84 6.796C25.936 6.852 26 6.928 26.032 7.024L27.436 11.644L28.828 7.132C28.868 7.004 28.94 6.9 29.044 6.82C29.156 6.74 29.28 6.7 29.416 6.7C29.552 6.7 29.672 6.74 29.776 6.82C29.888 6.9 29.964 7.004 30.004 7.132L31.396 11.644L32.8 7.024C32.832 6.928 32.892 6.852 32.98 6.796C33.076 6.732 33.18 6.7 33.292 6.7C33.444 6.7 33.572 6.752 33.676 6.856C33.78 6.96 33.832 7.088 33.832 7.24C33.832 7.304 33.82 7.372 33.796 7.444L32.092 12.436C32.044 12.58 31.956 12.7 31.828 12.796C31.7 12.892 31.556 12.94 31.396 12.94C31.236 12.94 31.092 12.892 30.964 12.796C30.836 12.7 30.744 12.576 30.688 12.424L29.416 8.452L28.144 12.424C28.088 12.576 27.996 12.7 27.868 12.796C27.74 12.892 27.596 12.94 27.436 12.94Z"
          fill="currentColor"></path>
        <path
          d="M36.6056 13C36.2536 13 35.9256 12.928 35.6216 12.784C35.3256 12.64 35.0896 12.432 34.9136 12.16C34.7376 11.88 34.6496 11.56 34.6496 11.2C34.6496 10.608 34.8816 10.136 35.3456 9.784C35.8176 9.432 36.5056 9.256 37.4096 9.256H38.8616V9.16C38.8616 8.632 38.7296 8.252 38.4656 8.02C38.2096 7.788 37.8056 7.672 37.2536 7.672C36.9496 7.672 36.6776 7.696 36.4376 7.744C36.2056 7.792 35.9456 7.864 35.6576 7.96C35.5936 7.976 35.5416 7.984 35.5016 7.984C35.3816 7.984 35.2776 7.94 35.1896 7.852C35.1016 7.764 35.0576 7.656 35.0576 7.528C35.0576 7.312 35.1616 7.16 35.3696 7.072C36.0496 6.784 36.7416 6.64 37.4456 6.64C37.9976 6.64 38.4616 6.752 38.8376 6.976C39.2216 7.2 39.5016 7.492 39.6776 7.852C39.8616 8.204 39.9536 8.588 39.9536 9.004V12.4C39.9536 12.552 39.8976 12.68 39.7856 12.784C39.6816 12.888 39.5536 12.94 39.4016 12.94C39.2496 12.94 39.1216 12.888 39.0176 12.784C38.9136 12.68 38.8616 12.552 38.8616 12.4V12.088C38.2696 12.696 37.5176 13 36.6056 13ZM37.0136 12.04C37.3656 12.04 37.7056 11.956 38.0336 11.788C38.3616 11.612 38.6376 11.396 38.8616 11.14V10.132H37.5536C36.3456 10.132 35.7416 10.448 35.7416 11.08C35.7416 11.368 35.8376 11.6 36.0296 11.776C36.2296 11.952 36.5576 12.04 37.0136 12.04Z"
          fill="currentColor"></path>
        <path
          d="M43.8504 12.94C43.7064 12.94 43.5744 12.9 43.4544 12.82C43.3344 12.732 43.2464 12.624 43.1904 12.496L41.1024 7.504C41.0624 7.408 41.0424 7.324 41.0424 7.252C41.0424 7.1 41.0944 6.972 41.1984 6.868C41.3024 6.756 41.4304 6.7 41.5824 6.7C41.6864 6.7 41.7824 6.732 41.8704 6.796C41.9664 6.852 42.0344 6.924 42.0744 7.012L43.9104 11.668L45.7464 7.012C45.7864 6.924 45.8504 6.852 45.9384 6.796C46.0344 6.732 46.1344 6.7 46.2384 6.7C46.3904 6.7 46.5184 6.756 46.6224 6.868C46.7264 6.972 46.7784 7.1 46.7784 7.252C46.7784 7.324 46.7584 7.408 46.7184 7.504L44.6304 12.496C44.5744 12.624 44.4864 12.732 44.3664 12.82C44.2464 12.9 44.1144 12.94 43.9704 12.94H43.8504Z"
          fill="currentColor"></path>
        <path
          d="M50.6957 13C49.7197 13 48.9557 12.724 48.4037 12.172C47.8597 11.612 47.5877 10.828 47.5877 9.82C47.5877 9.252 47.6917 8.728 47.8997 8.248C48.1077 7.768 48.4277 7.38 48.8597 7.084C49.2917 6.788 49.8237 6.64 50.4557 6.64C51.0477 6.64 51.5597 6.78 51.9917 7.06C52.4237 7.332 52.7517 7.7 52.9757 8.164C53.1997 8.62 53.3117 9.12 53.3117 9.664C53.3117 9.816 53.2597 9.944 53.1557 10.048C53.0597 10.152 52.9277 10.204 52.7597 10.204H48.6917C48.7557 10.764 48.9637 11.2 49.3157 11.512C49.6677 11.824 50.1597 11.98 50.7917 11.98C51.1277 11.98 51.4197 11.948 51.6677 11.884C51.9237 11.82 52.1717 11.728 52.4117 11.608C52.4757 11.576 52.5477 11.56 52.6277 11.56C52.7557 11.56 52.8677 11.604 52.9637 11.692C53.0597 11.78 53.1077 11.892 53.1077 12.028C53.1077 12.204 53.0037 12.352 52.7957 12.472C52.4837 12.648 52.1757 12.78 51.8717 12.868C51.5677 12.956 51.1757 13 50.6957 13ZM52.2317 9.316C52.2077 8.924 52.1037 8.596 51.9197 8.332C51.7437 8.068 51.5237 7.876 51.2597 7.756C50.9957 7.628 50.7277 7.564 50.4557 7.564C50.1837 7.564 49.9157 7.628 49.6517 7.756C49.3877 7.876 49.1677 8.068 48.9917 8.332C48.8157 8.596 48.7157 8.924 48.6917 9.316H52.2317Z"
          fill="currentColor"></path>
        <path
          d="M55.7525 12.94C55.6005 12.94 55.4725 12.888 55.3685 12.784C55.2645 12.68 55.2125 12.552 55.2125 12.4V7.696H54.5045C54.3765 7.696 54.2645 7.652 54.1685 7.564C54.0805 7.468 54.0365 7.356 54.0365 7.228C54.0365 7.092 54.0805 6.98 54.1685 6.892C54.2645 6.804 54.3765 6.76 54.5045 6.76H55.2125V6.064C55.2125 5.584 55.2965 5.192 55.4645 4.888C55.6405 4.576 55.8645 4.352 56.1365 4.216C56.4165 4.072 56.7085 4 57.0125 4C57.3885 4 57.7365 4.08 58.0565 4.24C58.1365 4.28 58.2005 4.34 58.2485 4.42C58.3045 4.492 58.3325 4.572 58.3325 4.66C58.3325 4.78 58.2885 4.888 58.2005 4.984C58.1125 5.072 58.0085 5.116 57.8885 5.116C57.8005 5.116 57.7085 5.104 57.6125 5.08C57.4205 5.056 57.3125 5.044 57.2885 5.044C56.9605 5.044 56.7125 5.12 56.5445 5.272C56.3845 5.424 56.3045 5.7 56.3045 6.1V6.76H57.8045C57.9405 6.76 58.0525 6.804 58.1405 6.892C58.2285 6.98 58.2725 7.092 58.2725 7.228C58.2725 7.356 58.2285 7.468 58.1405 7.564C58.0525 7.652 57.9405 7.696 57.8045 7.696H56.3045V12.4C56.3045 12.552 56.2485 12.68 56.1365 12.784C56.0325 12.888 55.9045 12.94 55.7525 12.94Z"
          fill="currentColor"></path>
        <path
          d="M61.687 13C61.071 13 60.531 12.868 60.067 12.604C59.603 12.34 59.243 11.968 58.987 11.488C58.739 11 58.615 10.444 58.615 9.82C58.615 9.196 58.739 8.644 58.987 8.164C59.243 7.676 59.603 7.3 60.067 7.036C60.531 6.772 61.071 6.64 61.687 6.64C62.295 6.64 62.831 6.772 63.295 7.036C63.759 7.3 64.119 7.676 64.375 8.164C64.631 8.644 64.759 9.196 64.759 9.82C64.759 10.444 64.631 11 64.375 11.488C64.119 11.968 63.759 12.34 63.295 12.604C62.831 12.868 62.295 13 61.687 13ZM61.687 12.004C62.015 12.004 62.327 11.928 62.623 11.776C62.927 11.624 63.175 11.384 63.367 11.056C63.567 10.728 63.667 10.312 63.667 9.808C63.667 9.312 63.567 8.9 63.367 8.572C63.175 8.244 62.927 8.008 62.623 7.864C62.327 7.712 62.015 7.636 61.687 7.636C61.351 7.636 61.031 7.712 60.727 7.864C60.431 8.008 60.187 8.244 59.995 8.572C59.803 8.9 59.707 9.312 59.707 9.808C59.707 10.312 59.803 10.728 59.995 11.056C60.187 11.384 60.431 11.624 60.727 11.776C61.031 11.928 61.351 12.004 61.687 12.004Z"
          fill="currentColor"></path>
        <path
          d="M66.8278 12.94C66.6758 12.94 66.5478 12.888 66.4438 12.784C66.3398 12.68 66.2878 12.552 66.2878 12.4V7.252C66.2878 7.1 66.3398 6.972 66.4438 6.868C66.5478 6.756 66.6758 6.7 66.8278 6.7C66.9798 6.7 67.1078 6.756 67.2118 6.868C67.3238 6.972 67.3798 7.1 67.3798 7.252V7.768C67.9398 7.016 68.5678 6.64 69.2638 6.64H69.3238C69.4758 6.64 69.5998 6.692 69.6958 6.796C69.7998 6.9 69.8518 7.028 69.8518 7.18C69.8518 7.332 69.7998 7.456 69.6958 7.552C69.5918 7.648 69.4598 7.696 69.2998 7.696H69.2398C68.8558 7.696 68.5038 7.792 68.1838 7.984C67.8638 8.168 67.5958 8.424 67.3798 8.752V12.4C67.3798 12.552 67.3238 12.68 67.2118 12.784C67.1078 12.888 66.9798 12.94 66.8278 12.94Z"
          fill="currentColor"></path>
        <path
          d="M71.4215 12.94C71.2695 12.94 71.1415 12.888 71.0375 12.784C70.9335 12.68 70.8815 12.552 70.8815 12.4V7.252C70.8815 7.1 70.9335 6.972 71.0375 6.868C71.1415 6.756 71.2695 6.7 71.4215 6.7C71.5735 6.7 71.7015 6.756 71.8055 6.868C71.9175 6.972 71.9735 7.1 71.9735 7.252V7.744C72.1975 7.424 72.4655 7.16 72.7775 6.952C73.0975 6.744 73.5095 6.64 74.0135 6.64C74.4615 6.64 74.8455 6.76 75.1655 7C75.4855 7.24 75.7135 7.532 75.8495 7.876C76.3455 7.052 77.0815 6.64 78.0575 6.64C78.5055 6.64 78.8775 6.752 79.1735 6.976C79.4775 7.2 79.7015 7.488 79.8455 7.84C79.9895 8.192 80.0615 8.56 80.0615 8.944V12.4C80.0615 12.552 80.0055 12.68 79.8935 12.784C79.7895 12.888 79.6615 12.94 79.5095 12.94C79.3575 12.94 79.2295 12.888 79.1255 12.784C79.0215 12.68 78.9695 12.552 78.9695 12.4V9.16C78.9695 8.64 78.8775 8.26 78.6935 8.02C78.5095 7.772 78.1935 7.648 77.7455 7.648C77.3375 7.648 76.9975 7.756 76.7255 7.972C76.4615 8.18 76.2255 8.456 76.0175 8.8V12.4C76.0175 12.552 75.9615 12.68 75.8495 12.784C75.7455 12.888 75.6175 12.94 75.4655 12.94C75.3135 12.94 75.1855 12.888 75.0815 12.784C74.9775 12.68 74.9255 12.552 74.9255 12.4V9.16C74.9255 8.64 74.8335 8.26 74.6495 8.02C74.4655 7.772 74.1495 7.648 73.7015 7.648C73.2935 7.648 72.9535 7.756 72.6815 7.972C72.4175 8.18 72.1815 8.456 71.9735 8.8V12.4C71.9735 12.552 71.9175 12.68 71.8055 12.784C71.7015 12.888 71.5735 12.94 71.4215 12.94Z"
          fill="currentColor"></path>
        <path
          d="M82.4372 12.94C82.2852 12.94 82.1572 12.888 82.0532 12.784C81.9492 12.68 81.8972 12.552 81.8972 12.4V7.252C81.8972 7.1 81.9492 6.972 82.0532 6.868C82.1572 6.756 82.2852 6.7 82.4372 6.7C82.5892 6.7 82.7172 6.756 82.8212 6.868C82.9332 6.972 82.9892 7.1 82.9892 7.252V7.768C83.5492 7.016 84.1772 6.64 84.8732 6.64H84.9332C85.0852 6.64 85.2092 6.692 85.3052 6.796C85.4092 6.9 85.4612 7.028 85.4612 7.18C85.4612 7.332 85.4092 7.456 85.3052 7.552C85.2012 7.648 85.0692 7.696 84.9092 7.696H84.8492C84.4652 7.696 84.1132 7.792 83.7932 7.984C83.4732 8.168 83.2052 8.424 82.9892 8.752V12.4C82.9892 12.552 82.9332 12.68 82.8212 12.784C82.7172 12.888 82.5892 12.94 82.4372 12.94Z"
          fill="currentColor"></path>
        <path d="M12 6V14" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M14 4V16" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M16 2V18" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M18 5V15" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M20 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M22 9V11" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M10 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M8 7V13" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M6 8V12" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M4 9V11" stroke="currentColor" stroke-linecap="round"></path>
        <path d="M2 10.5L2 9.5" stroke="currentColor" stroke-linecap="round"
        ></path>
      </symbol>

      <symbol
        id="github"
        viewBox="0 0 98 96"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
          fill="currentColor"></path>
      </symbol>
    </svg>
    <slot />
  </body>
</html>
